/* Criei esse arquivo CSS só pra pegar os atributos de forma mais eficiente */

html {
    font-family: 'Courier New', Courier, monospace;
    background-color: lightslategray;
    background-color: darkgray;
}